---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

// Our variables
$base-font-family: "Ubuntu", Courier, monospace;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #eee;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    880px;

$on-palm:          600px;
$on-laptop:        880px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

.home, .post {
  background-color: #fff;
  // box-shadow: 0 0 7px 0 rgba(0,0,0,0.5);
  padding: 12px;
  overflow: hidden;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  .central {
    text-align: center;
  }
  iframe {
    display: block;
    margin: 12px auto;
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.5);
  }
}
code {
  font-family: 'Ubuntu Mono', 'Ubuntu', monospace;
}
.blog {
  h1 {
    font-family: 'Ubuntu Mono', 'Ubuntu', monospace;
    font-size: 32px;
    font-weight: bold;
    color: #4b4b4d;
  }
  .calcu {
    color: deepskyblue;
  }
}
