<header class="site-header" role="banner">
  <nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><img src="/logo-icon-blue-white.svg" style="height:40px;margin-bottom:-8px;"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://app.calculist.io/login">Sign In</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="https://app.calculist.io/login">Sign In</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</header>
