<header id="header" class="site-header" role="banner">
  <nav id="nav-bar" class="grey darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img src="/logo-icon-blue-white.svg" style="height:40px;margin-bottom:-8px;"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="https://app.calculist.io/login">Sign In</a></li>
      </ul>

      <i id="mobile-nav-hamburger" class="material-icons hide-on-large-only">menu</i>
      <ul id="nav-mobile" class="side-nav" style="display: none; background: rgb(33,33,33); margin-left: -10%; width: 120%; padding-left: 7%;">
        <li><a href="https://app.calculist.io/login">Sign In</a></li><br/>
        <li><a href="/pricing">Pricing</a></li><br/>
        <li><a href="/about">About</a></li><br/>
      </ul>

      <script>
        (function () {
          var mnh = document.getElementById('mobile-nav-hamburger');
          var navIsVisible = false;
          mnh.addEventListener('click', function () {
            if (navIsVisible) {
              document.getElementById('nav-mobile').style.display = 'none';
              navIsVisible = false;
            } else {
              document.getElementById('nav-mobile').style.display = 'inline-block';
              navIsVisible = true;
            }
          });
        })();
      </script>
    </div>
  </nav>
</header>
